body {
	font-family: Arial;
	max-width: 1000px;
}

h1 {
	font-size: 24px;
}

#map_tab_container {
	padding-left: 20%;
	padding-bottom: 25px;
}

.map_tab {
	float: left;
	width: 45%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: #e6e6e6;
	text-align: center;
	font-size: 16px;
}

#covid_total_trend_tab {
	margin-right: 5px;
	background-color: #bfbfbf;
}

#map_display {
	max-width: 1000px;
}

#footer {
	font-size: 14px;
	font-style: italic;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 11px;
	}
	.map_tab {
		font-size: 8px;
	}
	#map_tab_container {
		padding-left: 10%;
	}
}
